<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="../style/style.css">
    <title>Home</title>
</head>

<body>
    <nav class="py-5 shadow md:flex md:items-center md:justify-between">
        <div class="brand flex justify-between items-center">
            <img src="../assets/images/logo.png" alt="logo">
            <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
            </span>
        </div>
        <ul
            class="md:flex md:items-center md:z-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0 link">
                <a href="../index.html" class="">Home</a>
            </li>
            <li class="mx-4 my-6 md:my-0 link">
                <a href="about.html" class="">About Me</a>
            </li>
            <li class="mx-4 my-6 md:my-0 link">
                <a href="event.html" class="">Events</a>
            </li>
            <li class="mx-4 my-6 md:my-0 link">
                <a href="release.html" class="active">Releases</a>
            </li>
        </ul>
    </nav>

    <main class="release flex flex-wrap gap-10 justify-center">
        
    </main>
    <footer>
        <div class="flex justify-center mt-2">
            <p class="text-gray-400"> Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved
            </p>
        </div>
    </footer>

    <script>
        function Menu(e) {
            let list = document.querySelector('ul');
            e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add(
                'opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove(
                'opacity-100'))
        }
    </script>
    <script src="../javascript/releasesJson.json"></script>
    <script src="../javascript/releases.js"></script>
</body>

</html>